.card {
    min-height: 300px;
    text-align: center;
}

.card-header {
    font-size: 28px;
    font-weight: 400;
}

.card-subheader {
    font-size: 25px;
    font-weight: 300;
}

.card-description {
    font-size: 25px;
    font-weight: 200;
}

.card-temp {
    font-size: 40px;
    font-weight: 300;
}